<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi familia</title>
</head>
<body>
    <div>
        <h3>Nombre</h3>
        <li>{{Claudia.nombre}}</li>
        <li>{{Jose.nombre}}</li>
    </div>
    <div>
        <h3>Apellido</h3>
        <li>{{Claudia.apellido}}</li>
        <li>{{Jose.apellido}}</li>
    </div>
    <div>
        <h3>Fecha de nacimiento</h3>
        <li>{{Claudia.fecha_nacimiento}}</li>
        <li>{{Jose.fecha_nacimiento}}</li>
    </div>
    <div>
        <h3>Documento</h3>
        <li>{{Claudia.documento}}</li>
        <li>{{Jose.documento}}</li>
    </div>
    <div>
        <h3>edad</h3>
        <li>{{Claudia.edad}}</li>
        <li>{{Jose.edad}}</li>
    </div>
</body>
</html>